In this file we are attempting to use data from other stocks to predict the price changes found within the MSFT stock. To calculate we are using multiple metrics. Hopefully once this process can be applied to a single stock then it can be used on the other 500 SNP stocks.

In [2]:
import yfinance as yf
import pandas as pd

msft = yf.Ticker("MSFT")
# msftHist = msft.history(period="max")
# msftHist.to_json("msftStockData.json")
msftHist = pd.read_json('msftStockData.json')
msftHist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
1986-03-13 05:00:00,0.055121,0.063227,0.055121,0.060524,1031788800,0.0,0.0
1986-03-14 05:00:00,0.060524,0.063767,0.060524,0.062686,308160000,0.0,0.0
1986-03-17 05:00:00,0.062686,0.064307,0.062686,0.063767,133171200,0.0,0.0
1986-03-18 05:00:00,0.063767,0.064307,0.061605,0.062145,67766400,0.0,0.0
1986-03-19 05:00:00,0.062145,0.062686,0.060524,0.061065,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2023-08-03 04:00:00,326.000000,329.880005,325.950012,326.660004,18253700,0.0,0.0
2023-08-04 04:00:00,331.880005,335.140015,327.239990,327.779999,23727700,0.0,0.0
2023-08-07 04:00:00,328.369995,331.109985,327.519989,330.109985,17741500,0.0,0.0
2023-08-08 04:00:00,326.959991,328.750000,323.000000,326.049988,22301200,0.0,0.0
2023-08-09 04:00:00,326.470001,327.105011,324.079987,324.280090,3216015,0.0,0.0

^^ Here we import the required libraries and access the financial data from the yfinance library and store it in a json file to prevent making the request every time.

In [ ]:
otherStock = yf.Ticker('AAPL')
# otherHist = otherStock.history(period="max")
# otherHist.to_json("otherHist.json")
otherHist = pd.read_json('otherHist.json')
otherHist

^^ This just applies the same process of getting the financial data but for a different example stock and again saving it into a file

In [ ]:
temp = msftHist.copy()
temp["Target"] = None
for i in range(0, len(temp)):
    if(temp.iloc[i].Close > temp.iloc[i].Open):
        temp["Target"][i] = 1.0
    else:
        temp["Target"][i] = 0.0

temp.drop(columns=['Dividends']) 
temp.drop(columns=['Stock Splits'])

^^ This creates a target column which states whether the value of the stock increased or decreased that day.

In [ ]:
otherHist = otherHist[otherHist.index >= msftHist.index[0]]
otherHist['Target'] = temp['Target']
otherHist['Target'] = otherHist['Target'].shift(-1)
otherHist

^^ This ensures that the dates for the price data align for the 2 stocks. It also places and shifts the target column onto the other stock so that the other stock price data can be used to predict the changes in MSFT.

In [ ]:
from sklearn.ensemble import RandomForestClassifier
import numpy as np

predictCols = ['Open', 'High', 'Low', 'Close', 'Volume']
rf = RandomForestClassifier()
model = RandomForestClassifier(n_estimators=100, min_samples_split=200, random_state=1)
train = otherHist.iloc[:-100]
test = otherHist.iloc[-100:]
model.fit(train[predictCols], train["Target"].astype('int'))

^^ This uses a random forest classifier to train the model to predict the change in MSFT stock price based on the price data of the other stock. It also splits the data into both training and testing datasets.

In [ ]:
predictions = model.predict(test[predictCols])
actualOutcomes = test['Target']
compare = pd.DataFrame(columns=['predictions', 'actualOutcomes'])
actualOutcomes = (actualOutcomes.to_numpy())
compare['predictions'] = predictions
compare['actualOutcomes'] = actualOutcomes
compare

^^ Based on the training which was done by the model on the training data, it now attempts to predict the price change on a new set of data called test. The data is then placed in dataframes for comparison.

In [ ]:
from sklearn.metrics import precision_score
preds = pd.Series(predictions, index = test.index)
precision_score(preds.iloc[:-1], test["Target"].iloc[:-1].astype('int') )
# test['Target'].iloc[:-1]

^^ This just determines how accurate the model was by comparing how many of the predictions were correct.

In [11]:
import os
for file in os.listdir('fiveYearData'):
    filename = os.fsdecode(file)
    if(filename.endswith(".csv")):
        print(filename)

DISCA_data.csv
UNP_data.csv
IQV_data.csv
FMC_data.csv
CMA_data.csv
OKE_data.csv
ETR_data.csv
HLT_data.csv
HOG_data.csv
AIV_data.csv
UNH_data.csv
HAL_data.csv
XRAY_data.csv
EOG_data.csv
SYF_data.csv
MCO_data.csv
PRU_data.csv
BBY_data.csv
COST_data.csv
HBAN_data.csv
VMC_data.csv
TMO_data.csv
FISV_data.csv
WMT_data.csv
SYMC_data.csv
RJF_data.csv
EA_data.csv
ROK_data.csv
LH_data.csv
PNC_data.csv
KHC_data.csv
EQT_data.csv
SPGI_data.csv
BF.B_data.csv
LLY_data.csv
HRS_data.csv
AJG_data.csv
BXP_data.csv
AMD_data.csv
RHI_data.csv
AVB_data.csv
APC_data.csv
ORLY_data.csv
MCK_data.csv
QRVO_data.csv
BLK_data.csv
EQR_data.csv
DAL_data.csv
AYI_data.csv
GGP_data.csv
PRGO_data.csv
EXPD_data.csv
PFG_data.csv
BBT_data.csv
MAR_data.csv
KLAC_data.csv
RMD_data.csv
MHK_data.csv
EMN_data.csv
FL_data.csv
GS_data.csv
PEP_data.csv
GPN_data.csv
CDNS_data.csv
AKAM_data.csv
VZ_data.csv
EXPE_data.csv
INFO_data.csv
MKC_data.csv
COG_data.csv
NAVI_data.csv
NUE_data.csv
NSC_data.csv
NTAP_data.csv
TROW_data.csv
SIG_data.csv
VNO_data.csv
SYK_data.csv
SHW_data.csv
CSX_data.csv
IRM_data.csv
MAC_data.csv
UHS_data.csv
L_data.csv
FOXA_data.csv
ARE_data.csv
STZ_data.csv
CMI_data.csv
LNC_data.csv
WY_data.csv
ROST_data.csv
NBL_data.csv
SJM_data.csv
WYNN_data.csv
K_data.csv
DWDP_data.csv
JEC_data.csv
AMG_data.csv
REG_data.csv
ADI_data.csv
JBHT_data.csv
FB_data.csv
MSI_data.csv
URI_data.csv
AIG_data.csv
KO_data.csv
INTU_data.csv
CMG_data.csv
ALK_data.csv
JNJ_data.csv
PLD_data.csv
VFC_data.csv
ACN_data.csv
IT_data.csv
CCI_data.csv
BAX_data.csv
MA_data.csv
LB_data.csv
DVN_data.csv
IFF_data.csv
ANDV_data.csv
PDCO_data.csv
RTN_data.csv
HIG_data.csv
XEC_data.csv
GIS_data.csv
NFLX_data.csv
MSFT_data.csv
CHTR_data.csv
DLTR_data.csv
CCL_data.csv
RE_data.csv
INTC_data.csv
LLL_data.csv
C_data.csv
TXT_data.csv
FAST_data.csv
AET_data.csv
GE_data.csv
USB_data.csv
HP_data.csv
HON_data.csv
EMR_data.csv
CL_data.csv
ABC_data.csv
DRI_data.csv
WM_data.csv
ORCL_data.csv
EIX_data.csv
FBHS_data.csv
FLS_data.csv
BEN_data.csv
AAL_data.csv
WDC_data.csv
NWSA_data.csv
ZTS_data.csv
FITB_data.csv
JCI_data.csv
HII_data.csv
COL_data.csv
NLSN_data.csv
EVHC_data.csv
ED_data.csv
PVH_data.csv
CME_data.csv
MRO_data.csv
ALGN_data.csv
M_data.csv
CTL_data.csv
WHR_data.csv
DHI_data.csv
ADS_data.csv
VIAB_data.csv
PGR_data.csv
UAA_data.csv
SO_data.csv
NI_data.csv
O_data.csv
TEL_data.csv
PKG_data.csv
DE_data.csv
RCL_data.csv
D_data.csv
NKE_data.csv
ZBH_data.csv
ILMN_data.csv
ALLE_data.csv
MU_data.csv
NOC_data.csv
ROP_data.csv
LOW_data.csv
ABBV_data.csv
LEG_data.csv
TSCO_data.csv
HCP_data.csv
SEE_data.csv
BLL_data.csv
TRIP_data.csv
ADSK_data.csv
PH_data.csv
BIIB_data.csv
T_data.csv
TSN_data.csv
TWX_data.csv
CXO_data.csv
XRX_data.csv
GM_data.csv
AON_data.csv
AAPL_data.csv
HOLX_data.csv
ES_data.csv
ADBE_data.csv
PPG_data.csv
CRM_data.csv
UPS_data.csv
MMM_data.csv
ETN_data.csv
CHD_data.csv
AME_data.csv
APTV_data.csv
DIS_data.csv
BSX_data.csv
RSG_data.csv
SCG_data.csv
KORS_data.csv
AWK_data.csv
MTB_data.csv
FDX_data.csv
KSS_data.csv
STT_data.csv
PSX_data.csv
PCLN_data.csv
AZO_data.csv
RF_data.csv
FFIV_data.csv
AOS_data.csv
STX_data.csv
DLR_data.csv
SBUX_data.csv
AIZ_data.csv
ATVI_data.csv
FLIR_data.csv
IVZ_data.csv
MCHP_data.csv
RHT_data.csv
SNA_data.csv
SNPS_data.csv
PXD_data.csv
FCX_data.csv
NRG_data.csv
SBAC_data.csv
OXY_data.csv
HRB_data.csv
LRCX_data.csv
BAC_data.csv
ISRG_data.csv
ESRX_data.csv
MDT_data.csv
GOOGL_data.csv
PNR_data.csv
AEE_data.csv
CSCO_data.csv
APH_data.csv
DUK_data.csv
NFX_data.csv
AEP_data.csv
HUM_data.csv
AVY_data.csv
LMT_data.csv
JWN_data.csv
BWA_data.csv
PSA_data.csv
GD_data.csv
GPS_data.csv
DISCK_data.csv
RRC_data.csv
GT_data.csv
LUV_data.csv
HSY_data.csv
FRT_data.csv
CAT_data.csv
MO_data.csv
TGT_data.csv
VAR_data.csv
AMT_data.csv
NTRS_data.csv
EXC_data.csv
CI_data.csv
PBCT_data.csv
KMI_data.csv
CBOE_data.csv
WBA_data.csv
AMAT_data.csv
GRMN_data.csv
CAG_data.csv
BHGE_data.csv
XL_data.csv
WAT_data.csv
WFC_data.csv
ARNC_data.csv
TJX_data.csv
MRK_data.csv
CERN_data.csv
IP_data.csv
ECL_data.csv
HD_data.csv
TRV_data.csv
JNPR_data.csv
IDXX_data.csv
SPG_data.csv
NWL_data.csv
UA_data.csv
EXR_data.csv
SWKS_data.csv
PPL_data.csv
CPB_data.csv
GOOG_data.csv
LEN_data.csv
AFL_data.csv
SLB_data.csv
WRK_data.csv
KEY_data.csv
PG_data.csv
MNST_data.csv
ANTM_data.csv
XOM_data.csv
ULTA_data.csv
CBG_data.csv
LNT_data.csv
GPC_data.csv
BK_data.csv
LUK_data.csv
AAP_data.csv
PWR_data.csv
DHR_data.csv
COF_data.csv
CNP_data.csv
CELG_data.csv
CHK_data.csv
EQIX_data.csv
PCAR_data.csv
PAYX_data.csv
PX_data.csv
PFE_data.csv
BDX_data.csv
ALL_data.csv
HRL_data.csv
SCHW_data.csv
SWK_data.csv
LYB_data.csv
UDR_data.csv
XEL_data.csv
KMB_data.csv
TIF_data.csv
CHRW_data.csv
IPG_data.csv
DFS_data.csv
HCN_data.csv
CVS_data.csv
HPQ_data.csv
AVGO_data.csv
DTE_data.csv
KR_data.csv
V_data.csv
HES_data.csv
STI_data.csv
EL_data.csv
JPM_data.csv
ALB_data.csv
SRE_data.csv
NDAQ_data.csv
HCA_data.csv
MYL_data.csv
WYN_data.csv
AXP_data.csv
CSRA_data.csv
AES_data.csv
HPE_data.csv
MLM_data.csv
REGN_data.csv
GLW_data.csv
precisionScore.csv
CVX_data.csv
ALXN_data.csv
KMX_data.csv
INCY_data.csv
ADM_data.csv
CFG_data.csv
WU_data.csv
MAT_data.csv
VLO_data.csv
WMB_data.csv
DXC_data.csv
EFX_data.csv
UNM_data.csv
CBS_data.csv
XYL_data.csv
TDG_data.csv
DVA_data.csv
CMCSA_data.csv
SNI_data.csv
CF_data.csv
SYY_data.csv
HAS_data.csv
UTX_data.csv
TPR_data.csv
CAH_data.csv
ESS_data.csv
IR_data.csv
COO_data.csv
PHM_data.csv
MOS_data.csv
MMC_data.csv
A_data.csv
PEG_data.csv
GWW_data.csv
HBI_data.csv
AMZN_data.csv
VRSK_data.csv
AMGN_data.csv
APD_data.csv
SRCL_data.csv
XLNX_data.csv
PM_data.csv
PKI_data.csv
DRE_data.csv
CNC_data.csv
ANSS_data.csv
MET_data.csv
MAA_data.csv
NEM_data.csv
TMK_data.csv
FTI_data.csv
HSIC_data.csv
PCG_data.csv
BA_data.csv
NOV_data.csv
MGM_data.csv
CTSH_data.csv
MAS_data.csv
MDLZ_data.csv
WEC_data.csv
MON_data.csv
WLTW_data.csv
BHF_data.csv
KIM_data.csv
MCD_data.csv
MTD_data.csv
LKQ_data.csv
VRTX_data.csv
CINF_data.csv
IBM_data.csv
CMS_data.csv
NVDA_data.csv
TSS_data.csv
ABT_data.csv
DISH_data.csv
FIS_data.csv
EBAY_data.csv
NWS_data.csv
FOX_data.csv
MPC_data.csv
SLG_data.csv
PYPL_data.csv
VRSN_data.csv
CA_data.csv
GILD_data.csv
MS_data.csv
CB_data.csv
TXN_data.csv
NCLH_data.csv
ADP_data.csv
APA_data.csv
FLR_data.csv
FTV_data.csv
YUM_data.csv
F_data.csv
ITW_data.csv
PNW_data.csv
TAP_data.csv
EW_data.csv
ETFC_data.csv
VTR_data.csv
ICE_data.csv
UAL_data.csv
HST_data.csv
RL_data.csv
COP_data.csv
DGX_data.csv
CLX_data.csv
DOV_data.csv
NEE_data.csv
BMY_data.csv
CTAS_data.csv
CTXS_data.csv
AMP_data.csv
FE_data.csv
OMC_data.csv
COTY_data.csv
KSU_data.csv
BRK.B_data.csv
DPS_data.csv
SPpercentChange2018-02-01.csv
QCOM_data.csv
DG_data.csv
ZION_data.csv
AGN_data.csv

In [4]:
otherHist = pd.read_json('msftStockData.json')
otherHist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
1986-03-13 05:00:00,0.055121,0.063227,0.055121,0.060524,1031788800,0.0,0.0
1986-03-14 05:00:00,0.060524,0.063767,0.060524,0.062686,308160000,0.0,0.0
1986-03-17 05:00:00,0.062686,0.064307,0.062686,0.063767,133171200,0.0,0.0
1986-03-18 05:00:00,0.063767,0.064307,0.061605,0.062145,67766400,0.0,0.0
1986-03-19 05:00:00,0.062145,0.062686,0.060524,0.061065,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2023-08-03 04:00:00,326.000000,329.880005,325.950012,326.660004,18253700,0.0,0.0
2023-08-04 04:00:00,331.880005,335.140015,327.239990,327.779999,23727700,0.0,0.0
2023-08-07 04:00:00,328.369995,331.109985,327.519989,330.109985,17741500,0.0,0.0
2023-08-08 04:00:00,326.959991,328.750000,323.000000,326.049988,22301200,0.0,0.0
2023-08-09 04:00:00,326.470001,327.105011,324.079987,324.280090,3216015,0.0,0.0

In [19]:
otherHist = pd.read_csv('fiveYearData/MSFT_data.csv')
newDF = pd.DataFrame(columns=['Open', 'High', 'Low', 'Close', 'Volume'])
newDF.High = otherHist.high
newDF.Open = otherHist.open
newDF.Low = otherHist.low
newDF.Close = otherHist.close
newDF.Volume = otherHist.volume
newDF.index = otherHist.date
newDF

             Open    High      Low  Close    Volume
date
2013-02-08  27.35  27.710  27.3100  27.55  33318306
2013-02-11  27.65  27.920  27.5000  27.86  32247549
2013-02-12  27.88  28.000  27.7500  27.88  35990829
2013-02-13  27.93  28.110  27.8800  28.03  41715530
2013-02-14  27.92  28.060  27.8700  28.04  32663174
...           ...     ...      ...    ...       ...
2018-02-01  94.79  96.070  93.5813  94.26  47227882
2018-02-02  93.64  93.970  91.5000  91.78  47867753
2018-02-05  90.56  93.240  88.0000  88.00  51031465
2018-02-06  86.89  91.475  85.2500  91.33  67998564
2018-02-07  90.49  91.770  89.2000  89.61  41107592

[1259 rows x 5 columns]

In [49]:
# data = yf.download("AMZN AAPL GOOG", period='max', group_by='tickers')
temp = data['GOOG']
temp[temp.Open > 0]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216.0
2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488.0
2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939.0
2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159.0
2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512.0
...,...,...,...,...,...,...
2023-08-03,128.369995,129.770004,127.775002,128.770004,128.770004,15018100.0
2023-08-04,129.600006,131.929993,128.315002,128.539993,128.539993,20509500.0
2023-08-07,129.509995,132.059998,129.429993,131.940002,131.940002,17621000.0
2023-08-08,130.979996,131.940002,130.130005,131.839996,131.839996,16836000.0
2023-08-09,132.190002,132.470001,129.505005,130.149994,130.149994,17723300.0